name: build
permissions: read-all
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pg-version: [13, 14, 15, 16, 17, 18]
    steps:
      - id: checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: ankane/setup-postgres@v1
        with:
          postgres-version: ${{ matrix.pg-version }}
          dev-files: true
      - run: make
        env:
          PG_CFLAGS: -DUSE_ASSERT_CHECKING -Wall -Wextra -Werror -Wno-unused-parameter -Wno-sign-compare
      - run: |
          export PG_CONFIG=$(which pg_config)
          echo "$PG_CONFIG"
          sudo --preserve-env=PG_CONFIG make install
      - run: |
          echo "local all all trust" | sudo tee /etc/postgresql/${{ matrix.pg-version }}/main/pg_hba.conf
          echo "shared_preload_libraries = 'ddl_guard'" | sudo tee -a /etc/postgresql/${{ matrix.pg-version }}/main/postgresql.conf
          sudo systemctl restart postgresql@${{ matrix.pg-version }}-main
          sleep 2
      - if: ${{ failure() }}
        run: |
          sudo systemctl status postgresql@${{ matrix.pg-version }}-main
          sudo journalctl -xeu  postgresql@${{ matrix.pg-version }}-main
      - id: test-regular
        run: bin/test
      - id: test-superuser
        run: TEST_USER="$USER" INPUTDIR="test/superuser" bin/test
